<form>
  <div class="form-group">
    <label for="username">Username</label>
    <input #username type="text" required />
  </div>
  <div class="form-group">
    <label for="username">Password</label>
    <input #password type="password" required />
  </div>
  <button type="submit" (click)="onSubmit(username.value, password.value)">Submit</button>
</form>
<p>{{loginMessage}}</p>