<router-outlet></router-outlet>
<select (change)="selectChangeHandler1($event)">
  <option></option>
  <option>Dashboard_location_risk</option>
  <option>Dashboard Cartographie de risque</option>
  <option>Dashboard présentation de l'évolution des risques résiduels et inhérents</option>
  <option>Dashboard processus clefs de 'organisation</option>
  <option>Dashboard risque inhérents et résiduels en fonction d'impact et probabilité</option>
  <option>Dashboard risque inhérent et résiduel - Total</option>
  <option>Dashboard typologie de risque</option>
</select>
<br>
Organisation:
<select (change)="selectOrganisation($event)">
  <option></option>
  <option>ONEA1</option>
  <option>ONEA2</option>
</select>
Location:
<select (change)="selectLocation($event)">
  <option></option>
  <option>Hilton</option>
  <option>San Fransisco</option>
  <option>Johnsburg</option>
  <option>Los Angeles</option>
</select>
Date_debut : <input type="date" [(ngModel)]="value1">
Date_fin : <input type="date" [(ngModel)]="value2">
<button style="background-color: aqua;"  (click)="myClickFunction($event)">Valider</button>
<iframe width="100%" height="800px"  src=""></iframe>
